[
    {
        "quick.group" : "快速",
        "quick.icon" : "session::arrow-coral",
        "quick.label" : "Untitled",
        "quick.type" : "Send Text",
        "quick.uuid" : "36233922-dc16-4bab-b431-cf1e2ee372d4"
    },
    {
        "quick.group" : "git",
        "quick.icon" : "session::arrow-firebrick",
        "quick.label" : "检查所有仓库状态",
        "quick.text" : "git_check_status.sh -o /d/code/ /d/programes/\r",
        "quick.type" : "Send Text",
        "quick.uuid" : "eb05d50b-9fe3-418c-b75e-bb3f5794a4eb"
    },
    {
        "quick.group" : "asciio",
        "quick.icon" : "session::wifi-deeppink",
        "quick.label" : "build_and_run",
        "quick.text" : "cd /d/code/P5-App-Asciio\rperl Build.PL\r./Build\r./Build install\rasciio\r",
        "quick.type" : "Send Text",
        "quick.uuid" : "4a6a1b14-fd3f-4502-8eff-6bbad03b66dd"
    }
]
