[
    {
        "quick.group" : "快速",
        "quick.icon" : "session::arrow-coral",
        "quick.label" : "Untitled",
        "quick.type" : "Send Text",
        "quick.uuid" : "36233922-dc16-4bab-b431-cf1e2ee372d4"
    },
    {
        "quick.group" : "git",
        "quick.icon" : "session::arrow-firebrick",
        "quick.label" : "检查所有仓库状态",
        "quick.text" : "git_check_status.sh -o /d/code/ /d/programes/\r",
        "quick.type" : "Send Text",
        "quick.uuid" : "eb05d50b-9fe3-418c-b75e-bb3f5794a4eb"
    }
]
